[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cherrypy = "==3.8.0"
requests = "*"
datetime = "*"
lxml = "*"
cssselect = "*"

[dev-packages]

[requires]
python_version = "3.6"
